{% extends "halaman/base.html" %}
{% load static %}
{% block content %}
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}');">
		<div class="container">
    		<div class="row">
        		<div class="col-md-8 col-md-offset-2">
                    <h1 class="title">About Us</h1>
                        <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
                </div>
            </div>
        </div>
	</div>

	<div class="main main-raised">
		<div class="container">
            <div class="about-description text-center">
                <div class="row">
    				<div class="col-md-8 col-md-offset-2">
    					<h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
    				</div>
    			</div>
            </div>
            <div class="about-team team-1">
    			<div class="row">
    				<div class="col-md-8 col-md-offset-2 text-center">
    					<h2 class="title">We are nerd rockstars</h2>
    					<h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
    				</div>
    			</div>

    			<div class="row">
    				<div class="col-md-3">
    					<div class="card card-profile card-plain">
    						<div class="card-avatar">
    							<a href="#pablo">
    								<img class="img" src="{% static 'halaman/assets/img/faces/raihanalvien.jpg' %}" /></a>
    						</div>

    						<div class="card-content">
    							<h4 class="card-title">Raihan Alvien</h4>
    							<h6 class="category text-muted">Mahasiswa S1 Teknik Informatika UMKT</h6>

    							<p class="card-description">
    								The harder you work for something, the greater you'll feel when you achieve it.
    							</p>
    							<div class="footer">
    								<a href="https://www.instagram.com/rhnn.alvnn/" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>
    								<a href="https://www.facebook.com/alvin.mdk/" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
    								<a href="https://www.youtube.com/@raihanalvien_30" class="btn btn-just-icon btn-simple btn-youtube"><i class="fa fa-youtube"></i></a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
            </div>
        </div>
    </div>
{% endblock content %}